<!DOCTYPE html>
<html>
<head><title>Signup page</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

<body>
	<h3>SignUp</h3>
	<div class="login">
		<div class="form">
			<form action="/signup" method="post" class="registration-form">
			{% csrf_token %}
				<input type="text" id="username" name="username"
					placeholder="Create a username(only letters and numbers)" Required>
				<br>
				
				<input type="text" id="fname" name="fname"
					placeholder="Enter your first name" Required>
				<br>
				
				<input type="text" id="lname" name="lname"
					placeholder="Enter your last name" Required>
				<br>
				
				<input type="email" id="email" name="email"
					placeholder="Enter your Email Address" Required>
				<br>
				
				<input type="password" id="pass1" name="pass1"
					placeholder="Create a password" Required>
				<br>
				
				<input type="password" id="pass2" name="pass2"
					placeholder="Confirm your password" Required>
				<br>
				<button type="submit">Sign Up</button
			</form>
		</div>
	</div>
</body>